# Core dependencies
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.6.1
xgboost==2.1.1
optuna==4.0.0
joblib
requests==2.31.0
tqdm==4.67.1
matplotlib==3.9.2
seaborn==0.13.2
statsmodels==0.14.4
rapidfuzz==3.13.0
sentence-transformers==3.3.1

# Flask-related
Flask==2.2.5
werkzeug==2.3.8

# ML & NLP
fasttext

# Testing
pytest

